* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: "Segoe UI", sans-serif;
  background: #f1f5f9;
  color: #0f172a;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #0f172a;
}

.logo { color: white; font-weight: bold; }

.nav-links { list-style: none; display: flex; gap: 20px; }

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links .active {
  color: #22c55e;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #0f172a, #6366f1);
  color: white;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid white;
}

.button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 22px;
  background: #22c55e;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

/* CONTENT */
.content {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.tags span {
  display: inline-block;
  background: #e0f2fe;
  margin: 6px;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 600;
}

/* PROJECT CARD */
.card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
  margin-top: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: gray;
}
