* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b1120;
  color: #e5e7eb;
  line-height: 1.7;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #020617;
  position: sticky;
  top: 0;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.navbar a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-text {
  max-width: 55%;
}

.hero-text h1 {
  font-size: 46px;
}

.hero-text span {
  color: #38bdf8;
}

.hero-text h3 {
  margin: 10px 0;
  color: #94a3b8;
}

.hero-image img {
  width: 350px;
  border-radius: 50%;
  border: 6px solid #38bdf8;
}

/* BUTTONS */
.btn {
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SECTIONS */
.section {
  padding: 70px 60px;
}

.section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.alt {
  background: #020617;
}

/* PROJECTS */
.project {
  margin-bottom: 30px;
}

.project a {
  color: #38bdf8;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #94a3b8;
}
