* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b1120;
  color: #e5e7eb;
  line-height: 1.7;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.navbar a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 60px;
}

.hero-text {
  max-width: 55%;
}

.hero-text h1 {
  font-size: 46px;
}

.hero-text span {
  color: #38bdf8;
}

.hero-text h3 {
  margin: 10px 0;
  color: #94a3b8;
}

.buttons {
  margin-top: 25px;
}

.btn {
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* PERFECT CIRCLE PHOTO */
.hero-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #38bdf8;
  box-shadow: 0 0 40px rgba(56,189,248,0.45);
}

/* SECTIONS */
.section {
  padding: 70px 60px;
}

.section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.section ul {
  margin-left: 20px;
}

.dark {
  background: #020617;
}

/* PROJECTS */
.project {
  margin-bottom: 30px;
}

.project a {
  color: #38bdf8;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-image img {
    width: 220px;
    height: 220px;
    margin-bottom: 30px;
  }

  .navbar ul {
    display: none;
  }
}
